h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: -1rem;
}

.toDoContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitBtn {
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #000000;
}
